extends layout.pug

block content 
    h2 Welcome to the Homepage
    br
    dl.list-group
        each article in articles 
        
            .list-group-item
                dt.article-title
                    a(href="/articles/" + article._id)= article.title
                dd.article-body= article.body